<!doctype html>
<html>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        document.getElementById("filepicker").addEventListener("change", function(event) {
            let output = document.getElementById("listing");
            let files = event.target.files;

            for (let i=0; i<files.length; i++) {
                let item = document.createElement("li");
                item.innerHTML = files[i].webkitRelativePath;
                output.appendChild(item);
            };
        }, false);

    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">

    <head>
        <title>GViz: Genome Visualizer</title>
    </head>
   <body>
       <p>	
           {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </p>
       <div id = 'container'>
           <div id = 'header'>
               <h1>GViz: Genome Visualizer</h1>
           </div>
           <div id = 'content'>
                <div id = 'file-upload-header'>
                        <p>
                            Locate the local directory containing all BED files
                            you wish to analyze.
                        </p>
                   </div>
                   <form method="POST" action="/" enctype='multipart/form-data'>
                <div id = 'upload-terminal btn btn-primary btn-sm float-left'>
                    <span>Choose file</span>
                    <input type="file" id="filepicker" name="fileList" webkitdirectory multiple />
                    <ul id="listing"></ul>
                    
                </div>
                <input type="submit" value="Submit">
            </form>
               </div>
           </div>
           <div id = 'footer'>
                <p id = 'demo-link'><a class="btn btn-info" href="#" role="button">Click here for a demo.</a></p>
           </div>
       </div>
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>